[submodule "progressbar"]
	path = src/progressbar
	url = https://github.com/doches/progressbar
[submodule "uthash"]
	path = src/uthash
	url = https://github.com/troydhanson/uthash
[submodule "hash-algorithms"]
	path = hash-algorithms
	url = https://github.com/rimopa/hash-algorithms/
